
<h1>Welcome To Chatham</h1>
<p>
	You've found the home page for our wedding pics.
	Find the project on <%= link_to 'Github', 'https://github.com/mikesabat/chatham' %>
</p>

<p>
	<%= link_to "Sign up Now", "#" %>
</p>


